<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OptiBot Login</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

</head>
<body class="bg-blue-400 flex items-center justify-center h-screen" style="background-color: lightskyblue">
    <div class="bg-white w-96 p-8 rounded-lg shadow-lg">
        <div class="flex justify-center mb-6"> <!-- Cambiado para centrar la imagen -->
            <img src="img/logo.png" alt="optiBoot" class="w-40 h-auto"> <!-- Ajustado el tamaño -->
        </div>     
        <p class="block text-gray-700 font-semibold mb-2 text-center">BIENVENIDO</p>       
       
        <% if (message) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        

        <form action="/login" method="POST"> 
            <div>
                <label class="block text-gray-700 font-semibold mb-2" for="email">Email</label>
                <input class="w-full p-3 mb-4 rounded-lg bg-blue-400 text-white focus:outline-none placeholder-white" type="email" id="email" name="email" placeholder="Email">
            </div>
            <div class="relative mb-4">
                <label class="block text-gray-700 font-semibold mb-2" for="password">Password</label>
                <input class="w-full p-3 rounded-lg bg-blue-400 text-white focus:outline-none placeholder-white" type="password" id="password" name="password" placeholder="Password">
                <i class="fas fa-eye absolute right-3 top-3 text-white"></i>
            </div>
            
            <button type="submit" class="w-full p-3 mb-4 bg-gray-200 text-gray-800 font-semibold rounded-lg shadow-md hover:bg-gray-300 focus:outline-none">LOGIN</button>
            
            <div class="block text-gray-700 font-semibold mb-2 text-center">
                <p>¿Necesitas una cuenta? <a href="/signup" class="underline text-blue-500">Registrate</a></p>
            </div>
        </form>        
    </div>
</body>
</html>
